@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: none;
}

input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}

input[type="submit"]::focus,
input[type="button"]::focus {
  outline-offset: -2px;
}

select {
  outline: none;
  text-indent: 0.01px;
  text-overflow: "";
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 1px;
}

select option {
  background-color: #fff;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent;
}

.main {
  display: block;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: auto;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: var(--colors-black);
  margin: 0;
  font-display: swap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  line-height: 1;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  -webkit-transition: all .35s ease 0s;
  transition: all .35s ease 0s;
}

a:hover {
  opacity: .6;
}

img {
  height: auto;
  max-width: 100%;
}

/**************************** Body *****************************/
* {
  margin: 0;
  padding: 0;
}

/***************** Header *************/
.header {
  position: relative;
}

.header__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  height: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  display: none;
}

.navbar {
  margin: 0 0 0 auto;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__sublist {
  position: absolute;
  bottom: -72px;
  background: green;
  padding: 16px 16px 0;
  z-index: 2;
  white-space: nowrap;
  border-radius: 5px;
  -webkit-box-shadow: #ccc 2px 2px 5px;
          box-shadow: #ccc 2px 2px 5px;
  -webkit-transition: all 0.35s ease 0s;
  transition: all 0.35s ease 0s;
  display: none;
  opacity: 0;
}

.navbar__subitem {
  padding: 20px 0;
  border: 1px solid #ccc;
}

.navbar__item {
  margin: 0 0 0 62px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navbar__item a {
  color: inherit;
  padding: 12px 0;
}

.navbar__item.wrap {
  padding: 12px 0;
  height: 100%;
}

.navbar__item .navbar__sublist.active {
  opacity: 1;
  display: block;
  bottom: -111px;
  padding: 0;
  border-radius: 0;
}

.navbar__item .navbar__sublist.active a {
  color: #fff;
  padding: 16px;
}

.navbar__item.wrap::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 9px;
  background: url(../assets/img/icon-arrow-down.svg);
  background-size: contain;
  margin: 3px 7px;
}

.navbar__itemwrap:hover .navbar__sublist {
  opacity: 1;
  display: block;
}

.navbar__itemwrap:hover .navbar__sublist a {
  color: #fff;
}

/**************** MAIN PAGE *************************/
/************* TECH*******************/
.home {
  /**********Section-ABOUT ****************/
  /******* Section-Merit*************/
  /********** Section-features************/
  /********Section-Course ************/
  /******* Section-Curators**********/
  /********** Section-curriculam **************/
  /****** Section-PortFolio**********/
  /********* Section-Skills***************/
  /********* Section_alumini**********/
  /*********** Section-Eligibillity***********/
  /******** Section_book ***********/
  /********** Section-News ********/
  /*********** Section-FAQ**********/
  /*********** Footer **********************/
}

.home .tech {
  position: relative;
}

.home .tech:before {
  content: "";
  width: 1300px;
  height: 900px;
  background: url(../assets/img/bg-wave3.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: 100px;
  right: -370px;
}

.home .tech:after {
  content: "";
  width: 1300px;
  height: 900px;
  background: url(../assets/img/bg-wave4.svg) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -330px;
  left: 0;
}

.home .tech__in {
  width: 90%;
  margin: 0 auto 60px;
  position: relative;
  z-index: 1;
}

.home .tech-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto 90px;
}

.home .tech-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}

.home .tech-msg {
  min-width: 545px;
}

.home .tech-msg__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.25;
}

.home .tech-msg__subtitle {
  font-size: 21px;
  font-weight: bold;
  color: #00abae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.25;
  margin: 0 0 120px;
}

.home .tech-msg__subtitle:before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #00abae;
  margin-right: 16px;
}

.home .tech-msg__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .tech-msg a.tech-msg__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  -webkit-text-decoration: revert;
          text-decoration: revert;
}

.home .tech-msg__btn {
  width: 290px;
  height: 60px;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #00abae;
  line-height: 1.25;
}

.home .tech-msg__btn:after {
  content: "";
  display: block;
  width: 24px;
  height: 13px;
  background: url(../../assets/img/icon-arrow-right.svg) no-repeat;
  background-size: contain;
  margin-left: 28px;
}

.home .tech__img {
  max-width: 576px;
}

.home .tech__img img {
  width: 100%;
}

.home .tech-subcatch {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.25;
}

.home .tech-companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 700px;
  margin: 0 0 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .tech-companies__item {
  width: 210px;
  height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.11);
  border-radius: 6px;
}

.home .about {
  position: relative;
  background: #f4f4f4;
  border-top-right-radius: 120px;
}

.home .about__in {
  position: relative;
  z-index: 1;
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 120px 0;
}

.home .about__in:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 100px;
  height: 114px;
  background: url(../assets/img/bg-circle-hide.svg) no-repeat;
  background-size: contain;
}

.home .about-img {
  width: 48%;
  margin-right: 72px;
  position: relative;
}

.home .about-img:before {
  content: "";
  display: block;
  position: absolute;
  top: -72px;
  right: 40px;
  width: 100px;
  height: 114px;
  background: url(../assets/img/bg-circle.svg) no-repeat;
  background-size: contain;
}

.home .about-img img {
  position: relative;
  z-index: 1;
}

.home .about-msg {
  width: 48%;
}

.home .about-msg__title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 32px;
}

.home .about-msg__title br {
  display: none;
}

.home .about-msg__text {
  line-height: 1.75;
  margin-bottom: 32px;
  font-size: 14px;
}

.home .about-msg__btn {
  width: 290px;
  height: 60px;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #00abae;
  line-height: 1.25;
}

.home .about-msg__btn:after {
  content: "";
  display: block;
  width: 24px;
  height: 13px;
  background: url(../../assets/img/icon-arrow-right.svg) no-repeat;
  background-size: contain;
  margin-left: 28px;
}

.home .merit {
  padding: 80px 0;
  position: relative;
}

.home .merit:before {
  content: "";
  display: block;
  position: absolute;
  top: -40px;
  right: -180px;
  width: 600px;
  height: 620px;
  background: url(../assets/img/bg-wave.svg);
  background-size: contain;
}

.home .merit:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -390px;
  left: 0;
  width: 600px;
  height: 620px;
  background: url(../assets/img/bg-wave-2.svg);
  background-size: contain;
  pointer-events: none;
}

.home .merit__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}

.home .merit-msg {
  width: 48%;
}

.home .merit-msg__title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 48px;
}

.home .merit-msg__text {
  line-height: 1.75;
  margin-bottom: 32px;
  font-size: 14px;
}

.home .merit-msg__list {
  margin-bottom: 48px;
}

.home .merit-msg__item {
  margin-bottom: 16px;
  border: 3px solid #929c9e;
  padding: 16px;
  min-height: 52px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.home .merit-msg__item:hover {
  opacity: 0.6;
}

.home .merit-msg__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .merit-msg__subtitle:after {
  content: "+";
  display: block;
  margin: 0 0 0 auto;
}

.home .merit-msg__subtitle.active:after {
  content: "−";
}

.home .merit-msg__subtext {
  display: none;
}

.home .merit-msg__subtext.active {
  display: block;
  line-height: 1.75;
  padding-top: 16px;
  font-size: font-sizes-xs;
}

.home .merit-msg__btn {
  width: 290px;
  height: 60px;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #00abae;
  line-height: 1.25;
}

.home .merit-msg__btn:after {
  content: "";
  display: block;
  width: 24px;
  height: 13px;
  background: url(../../assets/img/icon-arrow-right.svg) no-repeat;
  background-size: contain;
  margin-left: 28px;
}

.home .merit-img {
  width: 48%;
}

.home .features {
  background: #f4f4f4;
  border-top-left-radius: 120px;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}

.home .features__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .features__ttl {
  width: 100%;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 72px;
}

.home .features__ttl strong {
  color: #00abae;
}

.home .features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .features__item {
  width: 31%;
  border-radius: 20px;
  border: solid 1px #00abae;
  position: relative;
}

.home .features__box {
  background: #f9f9f9;
  padding: 24px 12px;
  height: 100%;
  position: relative;
  right: -16px;
  top: -24px;
  border-radius: 12px;
}

.home .features__subttl {
  font-size: 27px;
  font-weight: bold;
  color: #00abae;
  text-align: center;
  margin-bottom: 16px;
}

.home .features__thumb {
  border-radius: 12px;
  margin: 0 0 16px;
}

.home .features__text {
  line-height: 1.75;
  font-size: 14px;
}

.home .course__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}

.home .course__ttl {
  width: 100%;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}

.home .course__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .course__icon {
  width: 140px;
}

.home .course__item {
  width: 46%;
  border: 1px solid #00abae;
  border-radius: 20px;
}

.home .course__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f9f9f9;
  height: 100%;
  padding: 48px 16px;
  position: relative;
  right: -28px;
  top: -48px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.11);
}

.home .course__item:nth-of-type(2) .course__box {
  right: auto;
  left: -28px;
}

.home .course__subttl {
  font-size: 34px;
  font-weight: bold;
  margin: 24px 0;
}

.home .course__text {
  color: #929c9e;
  margin: 0 0 24px;
  font-size: 14px;
}

.home .course__skills {
  margin: 0 0 32px;
  font-size: 14px;
}

.home .course__skill {
  line-height: 3;
  color: #929c9e;
}

.home .course__skill:before {
  content: "・";
}

.home .course__btn {
  margin: auto 0 0 0;
}

.home .course__btn {
  width: 235px;
  height: 60px;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #00abae;
  line-height: 1.25;
}

.home .curators {
  position: relative;
}

.home .curators:before {
  content: "";
  width: 1300px;
  height: 900px;
  background: url(./assets/img/bg-wave5.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: -350px;
  right: -750px;
}

.home .curators__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 0 32px;
  position: relative;
  z-index: 2;
}

.home .curators__ttl {
  width: 100%;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.home .curators__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .curators__item {
  width: 48%;
  -webkit-box-shadow: 0px 19px 33px rgba(111, 109, 113, 0.13);
          box-shadow: 0px 19px 33px rgba(111, 109, 113, 0.13);
  border-radius: 20px;
  padding: 32px;
  background: #fff;
}

.home .curators__text {
  line-height: 1.75;
  margin: auto 0 0;
  font-size: 14px;
}

.home .curators-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home .curators-profile__thumb {
  border-radius: 20px;
  width: 140px;
}

.home .curators-profile__data {
  margin: 16px 0 0 16px;
}

.home .curators-profile__name {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 16px;
}

.home .curators-profile__career {
  color: #929c9e;
  line-height: 1.75;
  font-size: 14px;
}

.home .curriculum__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .curriculum__ttl {
  width: 100%;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.home .curriculum-msg {
  width: 43%;
}

.home .curriculum-msg__ttl {
  margin: 32px 0;
  font-size: 34px;
  line-height: 1.25;
}

.home .curriculum-msg__subttl {
  line-height: 1.75;
}

.home .curriculum-msg__text {
  line-height: 1.75;
  margin-bottom: 24px;
  font-size: 14px;
}

.home .curriculum-img {
  width: 55%;
}

.home .portfolio__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 0;
}

.home .portfolio__ttl {
  width: 100%;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.home .portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .portfolio__item {
  width: 32%;
}

.home .portfolio__link {
  display: block;
  text-align: center;
  color: #575757;
}

.home .portfolio__thumb {
  width: 100%;
}

.home .skills {
  position: relative;
}

.home .skills:before {
  content: "";
  width: 1300px;
  height: 900px;
  background: url(./assets/img/bg-wave6.svg) no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -450px;
  left: 0;
}

.home .skills__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
  z-index: 1;
}

.home .skills__ttl {
  width: 100%;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.home .skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .skills__item {
  width: 15.5%;
  background: #fafafa;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 16px;
  text-align: center;
}

.home .skills__thumb {
  border-radius: 12px;
}

.home .skills__subttl {
  font-weight: bold;
  color: #00abae;
  line-height: 1.25;
  margin: 8px 0 16px;
}

.home .skills__text {
  line-height: 1.75;
  font-size: 14px;
}

.home .alumni__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 0;
}

.home .alumni__ttl {
  width: 100%;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.home .alumni__ttl span {
  color: #00abae;
}

.home .alumni__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .alumni__item {
  width: 19%;
  text-align: center;
  line-height: 1.75;
  font-size: 14px;
}

.home .alumni__thumb {
  width: 70%;
  margin: 0 auto;
  position: relative;
}

.home .alumni__thumb:before {
  content: "";
  display: block;
  position: absolute;
  top: -24px;
  right: 0;
  width: 44px;
  height: 55px;
  background: url(./assets/img/icon-techis.svg) no-repeat;
  background-size: contain;
}

.home .alumni__name {
  font-size: 18px;
  color: #00abae;
  font-weight: bold;
}

.home .alumni__position {
  margin-bottom: 16px;
}

.home .alumni__position span {
  font-size: 10px;
  display: block;
}

.home .eligibility {
  margin-bottom: 60px;
}

.home .eligibility__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px 0 0 32px;
  background: #f4f4f4;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .eligibility__ttl {
  width: 100%;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.home .eligibility__img {
  width: 40%;
}

.home .eligibility__list {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .eligibility__item {
  font-size: 27px;
  line-height: 1.75;
}

.home .eligibility__item:before {
  content: "-";
}

.home .book {
  background: #00abae;
}

.home .book__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .book-img {
  width: 580px;
  position: relative;
  left: -7.5%;
}

.home .book-img img {
  display: block;
}

.home .book-msg {
  width: calc(100% - 580px);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
}

.home .book-msg__ttl {
  font-size: 34px;
  margin-bottom: 32px;
}

.home .book-msg__subttl {
  font-size: 18px;
  margin-bottom: 32px;
}

.home .book-msg__btn {
  width: 290px;
  height: 60px;
  border-radius: 6px;
  font-size: 16px;
  color: #00abae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  line-height: 1.25;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.home .book-msg__btn:after {
  content: "";
  display: block;
  width: 24px;
  height: 13px;
  background: url(../../assets/img/icon-arrow-right-g.svg) no-repeat;
  background-size: contain;
  margin-left: 28px;
}

.home .book-msg p {
  font-size: 14px;
  line-height: 1.75;
  margin-bottom: 32px;
}

.home .news__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 0;
}

.home .news__ttl {
  width: 100%;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.home .news__ttl span {
  color: #00abae;
}

.home .news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .faq {
  background: #f4f4f4;
}

.home .faq__in {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 0;
}

.home .faq__ttl {
  width: 100%;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

.home .faq__list {
  margin: 0 0 60px;
}

.home .faq__q {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.75;
}

.home .faq__a {
  font-size: 14px;
  line-height: 1.75;
  margin-bottom: 32px;
}

.home .faq__btn {
  margin: 0 auto;
}

.home .faq__btn {
  width: 290px;
  height: 60px;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #00abae;
  line-height: 1.25;
}

.home .faq__btn:after {
  content: "";
  display: block;
  width: 24px;
  height: 13px;
  background: url(../../assets/img/icon-arrow-right.svg) no-repeat;
  background-size: contain;
  margin-left: 28px;
}

.home .footer {
  background: #303030;
  color: #fff;
}

.home .footer__in {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 0;
}

.home .footer__link {
  margin: 0 0 32px;
  display: block;
  max-width: 197px;
}

.home .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .footer-msg {
  width: 25%;
  font-size: 14px;
  line-height: 1.75;
}

.home .footer-msg p {
  margin: 0 0 32px;
}

.home .footer-links {
  margin: 0 0 0 auto;
  width: 35%;
}

.home .footer-links__ttl {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 32px;
}

.home .footer-links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .footer-links__item {
  width: 50%;
  margin: 0 0 24px;
}

.home .footer-links__item a {
  color: inherit;
}

.home .footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .footer-sns__item {
  margin: 0 16px 0 0;
}

.home .footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  border-top: 1px solid #e5e5e5;
  font-size: 14px;
}

/***************************Tablet **************************/
@media only screen and (max-width: 1023px) {
  /***********Tab-Header ****************/
  .main {
    padding-top: 25px;
  }
  .header {
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
  .header__in {
    height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__link {
    width: 150px;
  }
  .header__btn {
    display: block;
    margin: 0 0 0 auto;
  }
  .navbar {
    margin: 0;
    width: 100%;
  }
  .navbar__item {
    margin: 0 32px 0 0;
  }
  .navbar__item.wrap:hover .gnav__sublist {
    display: none;
  }
  .navbar__item.wrap .navbar__sublist.active {
    opacity: 1;
    display: block;
    bottom: -92px;
    padding: 0;
    border-radius: 0;
  }
  .navbar__item.wrap .navbar__sublist.active a {
    color: #fff;
    padding: 16px;
  }
  .navbar__item.wrap .navbar__subitem {
    border-bottom: 1px solid #fff;
    margin: 0;
    padding: 0;
  }
  .navbar__item.wrap .navbar__subitem:last-of-type {
    border-bottom: 0;
  }
  .navbar__item.wrap .navbar__subitem a {
    display: block;
    padding: 16px;
  }
  /************Tab-MainPage***************/
  .home .tech:after {
    display: none;
  }
  .home .tech-top {
    margin-bottom: 35px;
  }
  .home .tech-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .tech-subcatch {
    width: 100%;
    font-size: 27px;
    text-align: center;
  }
  .home .tech-subcatch br {
    display: none;
  }
  .home .tech-msg {
    width: 50%;
    min-width: 0;
  }
  .home .tech-msg__ttl {
    font-size: 27px;
  }
  .home .tech-msg__subttl {
    font-size: 14px;
    margin-bottom: 21px;
  }
  .home .tech-msg__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .tech-msg__play {
    margin: 29px 0 0;
  }
  .home .tech-msg__playicon {
    margin-left: 0;
    width: 90px;
  }
  .home .tech-msg__playmsg {
    font-size: 18px;
  }
  .home .tech-img {
    width: 50%;
  }
  .home .about__in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .about-img {
    width: 100%;
    margin: 0 auto 32px;
    text-align: center;
  }
  .home .about-img img {
    max-width: 500px;
  }
  .home .about-img:before {
    right: 0;
  }
  .home .about-msg {
    width: 100%;
    max-width: 500px;
  }
  .home .about-msg__btn {
    margin: 0 auto 90px;
  }
  .home .about-msg__ttl {
    font-size: 27px;
  }
  .home .merit__in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .merit-msg {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    max-width: 500px;
  }
  .home .merit-msg__btn {
    margin: 0 auto;
  }
  .home .merit-msg__ttl {
    font-size: 27px;
  }
  .home .merit-img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    max-width: 500px;
    margin-bottom: 32px;
  }
  .home .features__ttl {
    font-size: 27px;
  }
  .home .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .home .features__item {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 60px;
  }
  .home .course__in {
    padding-bottom: 0;
  }
  .home .course__ttl {
    font-size: 27px;
  }
  .home .course__list {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .course__item {
    width: 100%;
    margin-bottom: 90px;
  }
  .home .curators__ttl {
    font-size: 27px;
  }
  .home .curators-profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .curriculum__ttl {
    font-size: 27px;
  }
  .home .curriculum__in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 500px;
    padding-bottom: 0;
  }
  .home .curriculum-img {
    width: 100%;
  }
  .home .curriculum-msg {
    width: 100%;
  }
  .home .curriculum-msg__ttl {
    font-size: 27px;
  }
  .home .portfolio__ttl {
    font-size: 27px;
  }
  .home .portfolio__in {
    padding-bottom: 0;
  }
  .home .skills__in {
    padding-bottom: 0;
  }
  .home .skills__ttl {
    font-size: 27px;
  }
  .home .skills__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .home .skills__item {
    width: 48%;
    margin-bottom: 24px;
  }
  .home .alumni__in {
    padding-bottom: 0;
  }
  .home .alumni__ttl {
    font-size: 27px;
  }
  .home .alumni__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .alumni__item {
    width: 30%;
    margin: 0 1% 32px;
  }
  .home .alumni__thumb:before {
    top: -32px;
  }
  .home .eligibility__in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 500px;
    padding: 24px;
  }
  .home .eligibility__img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 16px;
  }
  .home .eligibility__list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .home .book__in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .book-img {
    position: static;
    max-width: 500px;
    margin-bottom: 32px;
  }
  .home .book-msg {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  .home .book-msg__btn {
    margin: 0 auto 32px;
  }
  /***********Tab-Footer ***********/
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-msg {
    width: 100%;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 32px;
  }
}

/**************************************** MOBILE ****************************************************/
@media only screen and (max-width: 767px) {
  .main {
    padding-top: 25px;
  }
  /******** Mobile-Header*********/
  .header__in {
    width: 100%;
    height: auto;
  }
  .header__link {
    margin-left: 5%;
  }
  .navbar__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 auto;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
  }
  .navbar__item {
    width: 100%;
    margin: 0;
    border-right: 1px solid #f4f4f4;
  }
  .navbar__item a {
    font-size: 13px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .navbar__item.wrap {
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar__item:last-of-type a {
    border-right: none;
  }
  /*********** Mobile-Main **********/
  .home .tech:before {
    display: none;
  }
  .home .tech__in {
    margin-bottom: 0;
  }
  .home .tech-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .tech-msg {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .home .tech-msg__ttl {
    font-size: 56px;
  }
  .home .tech-msg__btn {
    font-size: 18px;
    height: 69px;
  }
  .home .tech-img {
    width: 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-bottom: 35px;
  }
  .home .tech-subcatch {
    font-size: 34px;
    margin-bottom: 35px;
  }
  .home .tech-subcatch br {
    display: none;
  }
  .home .tech-companies {
    width: 100%;
  }
  .home .about {
    border-top-right-radius: 75px;
  }
  .home .about__in {
    padding: 58px 0 90px;
  }
  .home .about__in:after {
    width: 64px;
    height: 70px;
  }
  .home .about-img {
    width: 100%;
    margin-bottom: 21px;
  }
  .home .about-img img {
    max-width: 100%;
  }
  .home .about-img:before {
    width: 31px;
    height: 34px;
    right: 32px;
    top: -24px;
  }
  .home .about-msg__ttl {
    font-size: 34px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  .home .about-msg__ttl br {
    display: block;
  }
  .home .about-msg__btn {
    width: 100%;
    font-size: 18px;
    height: 69px;
  }
  .home .about-msg__text {
    font-size: 18px;
  }
  .home .merit {
    padding: 35px 0;
  }
  .home .merit:before {
    display: none;
  }
  .home .merit-img {
    margin-bottom: 12px;
  }
  .home .merit-msg__ttl {
    font-size: 34px;
    line-height: 1.5;
    margin-bottom: 13px;
  }
  .home .merit-msg__text {
    font-size: 18px;
  }
  .home .merit-msg__btn {
    width: 100%;
    font-size: 18px;
    height: 69px;
  }
  .home .merit-msg__list {
    margin-bottom: 35px;
  }
  .home .merit-msg__item {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .home .features {
    border-top-left-radius: 75px;
    padding-bottom: 0;
  }
  .home .features__in {
    width: 85%;
    margin: 0 0 0 5%;
  }
  .home .features__ttl {
    font-size: 34px;
    line-height: 1.5;
    width: 216px;
    margin: 0 auto 60px;
  }
  .home .features__subttl {
    font-size: 27px;
  }
  .home .features__text {
    font-size: 18px;
  }
  .home .features__box {
    padding: 32px 16px;
    top: -34px;
    right: -5%;
  }
  .home .features__item {
    margin-bottom: 72px;
  }
  .home .course__in {
    width: 100%;
  }
  .home .course__ttl {
    font-size: 34px;
    width: 196px;
    line-height: 1.5;
    margin: 0 auto 72px;
  }
  .home .course__icon {
    width: 102px;
  }
  .home .course__subttl {
    font-size: 27px;
  }
  .home .course__item {
    width: 85%;
    margin: 0 auto 100px 5%;
  }
  .home .course__item .course__box {
    right: -5%;
  }
  .home .course__item:nth-of-type(2) {
    width: 85%;
    margin: 0 5% 0 auto;
  }
  .home .course__item:nth-of-type(2) .course__box {
    left: -5%;
  }
  .home .curators:before {
    display: none;
  }
  .home .curators__ttl {
    font-size: 34px;
    line-height: 1.5;
    margin-bottom: 23px;
  }
  .home .curators__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .curators__item {
    width: 100%;
    margin-bottom: 52px;
  }
  .home .curators__text {
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  .home .curators-profile {
    margin: 0;
  }
  .home .curators-profile__thumb {
    width: 255px;
    margin-bottom: 19px;
  }
  .home .curators-profile__career {
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 10px;
  }
  .home .curriculum__in {
    padding-top: 0;
  }
  .home .curriculum__ttl {
    font-size: 34px;
    line-height: 1.5;
  }
  .home .curriculum-msg__ttl {
    font-size: 34px;
    line-height: 1.5;
    margin-bottom: 14px;
  }
  .home .curriculum-msg__ttl br {
    display: none;
  }
  .home .curriculum-msg__subttl {
    font-size: 21px;
  }
  .home .curriculum-msg__text {
    font-size: 18px;
  }
  .home .portfolio__ttl {
    font-size: 34px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  .home .portfolio__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .portfolio__item {
    width: 100%;
    margin-bottom: 34px;
  }
  .home .skills:before {
    display: none;
  }
  .home .skills__ttl {
    font-size: 34px;
    line-height: 1.5;
    margin-bottom: 52px;
  }
  .home .skills__item {
    width: 100%;
    max-width: 252px;
    margin: 0 auto 31px;
  }
  .home .skills__subttl {
    font-size: 21px;
    margin: 8px 0 10px;
  }
  .home .skills__text {
    font-size: 18px;
  }
  .home .alumni__ttl {
    font-size: 34px;
    line-height: 1.5;
    margin-bottom: 52px;
  }
  .home .alumni__item {
    width: 100%;
    margin-bottom: 60px;
  }
  .home .alumni__thumb:before {
    width: 68px;
    height: 86px;
    top: -48px;
  }
  .home .alumni__name {
    font-size: 18px;
  }
  .home .alumni__position {
    font-size: 18px;
  }
  .home .alumni__position span {
    font-size: 13px;
  }
  .home .alumni__text {
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #e9e9e9d1;
  }
  .home .eligibility {
    margin-bottom: 90px;
  }
  .home .eligibility__ttl {
    font-size: 34px;
    line-height: 1.5;
    margin-bottom: 35px;
  }
  .home .eligibility__img {
    width: 100%;
  }
  .home .eligibility__item {
    font-size: 18px;
  }
  .home .book__in {
    width: 100%;
  }
  .home .book-img {
    width: 100%;
  }
  .home .book-msg {
    width: 90%;
    margin: 0 auto;
  }
  .home .book-msg__ttl {
    line-height: 1.5;
    margin-bottom: 0;
  }
  .home .book-msg__subttl {
    font-size: 21px;
    line-height: 1.5;
  }
  .home .book-msg p {
    font-size: 18px;
  }
  .home .book-msg__btn {
    width: 100%;
    height: 69px;
    font-size: 18px;
  }
  .home .news__ttl {
    font-size: 34px;
    line-height: 1.5;
    margin-bottom: 52px;
  }
  .home .news__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .news__item {
    width: 30%;
    margin: 0 1% 16px;
  }
  .home .faq__ttl {
    font-size: 34px;
    line-height: 1.5;
    margin-bottom: 35px;
  }
  .home .faq__q {
    font-size: 18px;
  }
  .home .faq__a {
    font-size: 16px;
  }
  .home .faq__btn {
    width: 100%;
    height: 69px;
    font-size: 18px;
  }
  /********* Mobile-Footer************/
  .footer__in {
    padding-bottom: 47px;
  }
  .footer-msg p {
    font-size: 16px;
  }
  .footer__copy {
    font-size: 16px;
  }
  .footer-links__ttl {
    font-size: 21px;
  }
  .footer-links__item {
    font-size: 18px;
    width: 100%;
  }
  .footer-links__item:nth-of-type(5) {
    margin-bottom: 48px;
  }
}
/*# sourceMappingURL=style.css.map */