// colors
$colors-green: #00abae;
$colors-gray-f4: #f4f4f4;
$colors-gray-f9: #f9f9f9;
$colors-gray-dark: #929c9e;

// breakpoints
$sizes-m: 767px;
$sizes-l: 1023px;
$sizes-xl: 1200px;
$sizes-full: 1400px;

// font size
$font-sizes-xxs: 13px;
$font-sizes-xs: 14px;
$font-sizes-s: 16px;
$font-sizes-m: 18px;
$font-sizes-sl: 21px;
$font-sizes-l: 27px;
$font-sizes-xl: 34px;
$font-sizes-xxl: 60px;
